import 'virtual:windi.css';

<app-layout>
	<@head>
		<title>Neo Agent</title>
	</@head>
	<@body>
		<main class="grid grid-cols-1 divide-y">
			<tabs>
				<@tab label="Tab 1">
				Content for Tab 1
				</@tab>
				<@tab label="Tab 2">
				Content for Tab 2
				</@tab>
			</tabs>
		</main>
	</@body>
</app-layout>
